

<a href="/nanoka_get_data" class="my-button">BETA nanoka</a>
<a href="/lunaris_get_data" class="my-button">BETA lunaris</a>
<a href="/gachabase_get_data" class="my-button">BETA gachabase</a>
\n
<a href="/nanoka_get_live" class="my-button">nanoka live</a>
<style>
.my-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.my-button:hover {
    background-color: #0056b3;
}
</style>